h1 {
    font-size: 50;
    color: gold;
    text-align: center;
}
.app {
    color: blue;
    font-size: 15px;
}
p {
    font-size: 50px;
    color: gold;
}
input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 200px;
    max-width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    max-width: 100%;
}
label {
  font-size: 20px;
}
form {
  text-align: center;
}
.input-group-text {
    background-color: lightyellow !important;
    color: blue !important; 
    border: 1px solid gold !important; 
}   
#add.btn {
    border-color: gold !important;
}
#subtract.btn {
    border-color: gold !important;
}
#multiply.btn {
    border-color: gold !important;
}
#divide.btn {
    border-color: gold !important;
}
